.page-header {
  padding-top: 30px;
}

.side-panel {
  text-align: center;
}

.form-group .input-group {
  width: 100%;
}

.modal-body {
  text-align: center;
}

.modal .btn-sm {
  width: 35% !important;
  margin-top: 5px;
  font-size: 15px;
  cursor: pointer;
}
